.date-container {
    display: flex;
    flex-direction: column;
    background-color: #2a2a2a;
    border: 1px solid white;
    border-radius: 10px;
    width: 5.5rem;
    height: 5.5rem;
    align-items: center;
    justify-content: center;
}

.month {
    font-size: 0.8rem;
    font-weight: bold;
}

.year {
    font-size: 0.8rem;
}

.date {
    font-size: 1.5rem;
    font-weight: bold;
}
